body {
  margin: 0;
  font-family: 'Souge', 'Roboto Condensed', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}

/* to remove the web scrollbar */
::-webkit-scrollbar {
  display: none;
}

.skill-progress-bar {
  margin-bottom: 15px;
}

/* Styles for the title and percentage */
.skill-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Styles for the progress bar wrapper */
.progress-bar-wrapper {
  display: flex;
  align-items: center;
}

/* Styles for the background of the progress bar */
.progress-bar-background {
  width: 100px;
  background-color: #ccc;
  height: 20px;
  border-radius: 4px;
}

/* Styles for the progress bar itself */
.progress-bar {
  height: 100%;
  border-radius: 4px;
}

/* Example specific styles for HTML progress bar */
.html-progress-bar {
  width: 60%; /* Adjust width based on percentage */
  background-color: red; /* Color for the filled progress */
}
